@import 'utilities/variables';

:export {
  tcsBlue: $tcs-blue;
  tcsLightBlue: $tcs-light-blue;
  blue01: $blue-01;
  blue02: $blue-02;
  blue03: $blue-03;
  blue04: $blue-04;
  grey01: $grey-01;
  grey02: $grey-02;
  grey03: $grey-03;
  grey04: $grey-04;
  grey05: $grey-05;
  grey06: $grey-06;
  white: $white;
  successGreen: $success-green;
  savingsGreen: $savings-green;
  errorRed: $error-red;
  alertYellow: $alert-yellow;
  alertOrange: $alert-orange;
}
