@font-face {
  font-family: "Proxima N W01";
  src: url("/fonts/37994fca-b67e-41db-94b3-44077c62810a.eot?#iefix");
  src: url("/fonts/37994fca-b67e-41db-94b3-44077c62810a.eot?#iefix")
      format("eot"),
    url("/fonts/0583e751-caca-4cd8-af81-71b2aa5ddbbb.woff2") format("woff2"),
    url("/fonts/da176885-bee9-49f7-88f0-d7ad9229ddd7.woff") format("woff"),
    url("/fonts/1861a7b7-09a5-4efd-b681-5214784ded39.ttf") format("truetype"),
    url("/fonts/610147b3-ad15-4b4b-a0fb-25244238ab3d.svg#610147b3-ad15-4b4b-a0fb-25244238ab3d")
      format("svg");
  font-weight: 100;
}
@font-face {
  font-family: "Proxima N W01";
  src: url("/fonts/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix");
  src: url("/fonts/93cc6d34-798e-42c8-87d2-fd6391801b63.eot?#iefix")
      format("eot"),
    url("/fonts/d9fe41ee-4904-4a11-ba11-b61cd3be767f.woff2") format("woff2"),
    url("/fonts/2fa30669-9bbd-4ced-912f-db94a367ed6c.woff") format("woff"),
    url("/fonts/c12b3ebb-3771-483f-a84a-ac63d615c28e.ttf") format("truetype"),
    url("/fonts/2a961063-ea56-4a4b-8cea-bdae32edb0e2.svg#2a961063-ea56-4a4b-8cea-bdae32edb0e2")
      format("svg");
  font-weight: 300;
}
@font-face {
  font-family: "Proxima N W01";
  src: url("/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix");
  src: url("/fonts/7e90123f-e4a7-4689-b41f-6bcfe331c00a.eot?#iefix")
      format("eot"),
    url("/fonts/64017d81-9430-4cba-8219-8f5cc28b923e.woff2") format("woff2"),
    url("/fonts/e56ecb6d-da41-4bd9-982d-2d295bec9ab0.woff") format("woff"),
    url("/fonts/2aff4f81-3e97-4a83-9e6c-45e33c024796.ttf") format("truetype"),
    url("/fonts/ab9cd062-380f-4b53-b1a7-c0bec7402235.svg#ab9cd062-380f-4b53-b1a7-c0bec7402235")
      format("svg");
  font-weight: 400;
}
@font-face {
  font-family: "Proxima N W01";
  src: url("/fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix");
  src: url("/fonts/87e4b4fc-cdf1-450a-8bed-dd818cba908d.eot?#iefix")
      format("eot"),
    url("/fonts/ae47a7f5-89da-4879-b934-29722c3dd451.woff2") format("woff2"),
    url("/fonts/70ae52ec-d89b-4c6a-9402-854ebe423c54.woff") format("woff"),
    url("/fonts/6a35571c-ea14-4dac-9ae1-0e7af0abeec8.ttf") format("truetype"),
    url("/fonts/ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c.svg#ac2bdafc-d4a8-49d0-8a10-4e2f16bf7e3c")
      format("svg");
  font-weight: 600;
}
@font-face {
  font-family: "Proxima N W01";
  src: url("/fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix");
  src: url("/fonts/fbc6b03a-b3a1-427c-a884-053deca3a53c.eot?#iefix")
      format("eot"),
    url("/fonts/0d416408-95c6-4ad7-b08d-e60573d3b37d.woff2") format("woff2"),
    url("/fonts/d999c07b-a049-4eb5-b8a6-4f36ae25e67e.woff") format("woff"),
    url("/fonts/4d4a75f5-d32a-4a09-8665-133afd39cc37.ttf") format("truetype"),
    url("/fonts/8152bc4e-d700-4c78-b6be-326893e6f53f.svg#8152bc4e-d700-4c78-b6be-326893e6f53f")
      format("svg");
  font-weight: 700;
}
