/**
 * Default container
 */
@mixin container {
  max-width: $page-max-width;
}

/**
 * Display
 */
@mixin block {
  display: block;
}
%block {
  @include block;
}
@mixin inline-block {
  display: inline-block;
}
%inline-block {
  @include inline-block;
}
@mixin inline {
  display: inline;
}
%inline {
  @include inline;
}
@mixin table {
  display: table;
}
%table {
  @include table;
}
@mixin table-row {
  display: table-row;
}
%table-row {
  @include table-row;
}
@mixin table-cell {
  display: table-cell;
}
%table-cell {
  @include table-cell;
}
@mixin hidden {
  display: none;
}
%hidden {
  @include hidden;
}
@mixin flex {
  display: flex;
}
%flex {
  display: flex;
}
@mixin inline-flex {
  display: inline-flex;
}
%inline-flex {
  @include inline-flex;
}

/**
 * Overflow
 */
@mixin overflow-auto {
  overflow: auto;
}
%overflow-auto {
  @include overflow-auto;
}
@mixin overflow-hidden {
  overflow: hidden;
}
%overflow-hidden {
  @include overflow-hidden;
}
@mixin overflow-visible {
  overflow: visible;
}
%overflow-visible {
  @include overflow-visible;
}
@mixin overflow-scroll {
  overflow: scroll;
}
%overflow-scroll {
  @include overflow-scroll;
}
@mixin overflow-x-auto {
  overflow-x: auto;
}
%overflow-x-auto {
  @include overflow-x-auto;
}
@mixin overflow-y-auto {
  overflow-y: auto;
}
%overflow-y-auto {
  @include overflow-y-auto;
}
@mixin overflow-x-hidden {
  overflow-x: hidden;
}
%overflow-x-hidden {
  @include overflow-x-hidden;
}
@mixin overflow-y-hidden {
  overflow-y: hidden;
}
%overflow-y-hidden {
  @include overflow-y-hidden;
}
@mixin overflow-x-visible {
  overflow-x: visible;
}
%overflow-x-visible {
  @include overflow-x-visible;
}
@mixin overflow-y-visible {
  overflow-y: visible;
}
%overflow-y-visible {
  @include overflow-y-visible;
}
@mixin overflow-x-scroll {
  overflow-x: scroll;
}
%overflow-x-scroll {
  @include overflow-x-scroll;
}
@mixin overflow-y-scroll {
  overflow-y: scroll;
}
%overflow-y-scroll {
  @include overflow-y-scroll;
}
@mixin scrolling-touch {
  -webkit-overflow-scrolling: touch;
}
%scrolling-touch {
  @include scrolling-touch;
}
@mixin scrolling-auto {
  -webkit-overflow-scrolling: auto;
}
%scrolling-auto {
  @include scrolling-auto;
}

/**
 * Position
 */
@mixin static {
  position: static;
}
%static {
  @include static;
}
@mixin fixed {
  position: fixed;
}
%fixed {
  @include fixed;
}
@mixin absolute {
  position: absolute;
}
%absolute {
  @include absolute;
}
@mixin relative {
  position: relative;
}
%relative {
  position: relative;
}
@mixin sticky {
  position: sticky;
}
%sticky {
  @include sticky;
}
@mixin pin-top {
  top: 0;
}
%pin-top {
  @include pin-top;
}
@mixin pin-right {
  right: 0;
}
%pin-right {
  @include pin-right;
}
@mixin pin-bottom {
  bottom: 0;
}
%pin-bottom {
  @include pin-bottom;
}
@mixin pin-left {
  left: 0;
}
%pin-left {
  @include pin-left;
}
@mixin pin-y {
  top: 0;
  bottom: 0;
}
%pin-y {
  @include pin-y;
}
@mixin pin-x {
  right: 0;
  left: 0;
}
%pin-x {
  @include pin-x;
}
@mixin pin-all {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
%pin-all {
  @include pin-all;
}
@mixin pin-none {
  top: auto;
  right: auto;
  bottom: auto;
  left: auto;
}
%pin-none {
  @include pin-none;
}

/**
 * Visibility
 */
@mixin visible {
  visibility: visible;
}
%visible {
  @include visible;
}
@mixin invisible {
  visibility: hidden;
}
%invisible {
  @include invisible;
}
@mixin sr-only {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
%sr-only {
  @include sr-only;
}

/**
 * Z-index
 */
@mixin z-0 {
  z-index: 0;
}
%z-0 {
  @include z-0;
}
@mixin z-10 {
  z-index: 10;
}
%z-10 {
  @include z-10;
}
@mixin z-20 {
  z-index: 20;
}
%z-20 {
  @include z-20;
}
@mixin z-30 {
  z-index: 30;
}
%z-30 {
  @include z-30;
}
@mixin z-40 {
  z-index: 40;
}
%z-40 {
  @include z-40;
}
@mixin z-50 {
  z-index: 50;
}
%z-50 {
  @include z-50;
}
@mixin z-auto {
  z-index: auto;
}
%z-auto {
  @include z-auto;
}
