.App {
  margin-left: auto;
  margin-right: auto;
  max-width: 1440px;
}

.App__heading {
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1.25;
  margin: 0;
  text-align: left;
}

.App__row {
  display: flex;
  margin: 40px;
}

.App__left-col {
  padding-left: calc(100% / 12 * 1 - 40px);
  padding-right: calc(100% / 12 * 1);
  width: calc(100% / 3 * 2);
}

.App__right-col {
  width: calc(100% / 3 * 1);
}
